<h1>Dev#home</h1>
<%= params.inspect %>
<hr>
<strong>pns</strong><br>
<div>
	<%= form_with url: "/pns_search", method: :get do |form| %>
	  	<%= form.label :pns_search, "Last name / Business name:" %>
	  	<%= form.text_field :pns_search %>
	  	<%= form.submit "Search" %>
	<% end %>
</div><br>

<div>
	<%= form_with url: "/roa_search", method: :get do |form| %>
	  	<%= form.label :roa_search, "ROA Search (2023-28893):" %>
	  	<%= form.text_field :roa_search %>
	  	<%= form.submit "Search" %>
	<% end %>
</div>
<br>


<div>
	<%= form_with url: "/bar", method: :get do |form| %>
	  	<%= form.label :bar, "Enter Bar Number:" %>
	  	<%= form.text_field :bar %>
	  	<%= form.submit "Search", class: "depo-btn" %>
	<% end %>
</div>



