
<p>Trial: <%= @trial %></p> 
<p>TRC: <%= @trc %></p>
<p>105 Days before: <%= @oneofive %></p>
<p>Discovery Cutoff: <%= @discovery_cutoff %><p>
<p>1st Expert Exchange: <%= @first_expert_exchange %></p>
<p>2nd Expert Exchange <%= @second_expert_exchange %></p>