<div id="<%= dom_id lawsuit %>">
  <p>
    <strong>Cn:</strong>
    <%= lawsuit.cn %>
  </p>

  <p>
    <strong>Ct:</strong>
    <%= lawsuit.ct %>
  </p>

  <p>
    <strong>Forum:</strong>
    <%= lawsuit.forum %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= lawsuit.location %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= lawsuit.stage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= lawsuit.status %>
  </p>

  <p>
    <strong>Judge:</strong>
    <%= lawsuit.judge %>
  </p>

  <p>
    <strong>Old judge:</strong>
    <%= lawsuit.old_judge %>
  </p>

  <p>
    <strong>Dept:</strong>
    <%= lawsuit.dept %>
  </p>

  <p>
    <strong>Lroa:</strong>
    <%= lawsuit.lroa %>
  </p>

  <p>
    <strong>Lroa:</strong>
    <%= lawsuit.lroa %>
  </p>

  <p>
    <strong>Atty for:</strong>
    <%= lawsuit.atty_for %>
  </p>

  <p>
    <strong>User:</strong>
    <%= lawsuit.user_id %>
  </p>

  <p>
    <strong>Plt caption:</strong>
    <%= lawsuit.plt_caption %>
  </p>

  <p>
    <strong>Def caption:</strong>
    <%= lawsuit.def_caption %>
  </p>

</div>
