<p style="color: green"><%= notice %></p>
<%= link_to "Edit this lawsuit", edit_lawsuit_path(@lawsuit) %>

<%= render @lawsuit %>
<hr>
    Complaint filed: <%= @complaint %> 
    Answer: <%= @answer %> 
<hr>
    <%= render 'courtdates' %>
<hr>
<div class="content">

    <%= render 'participants' %>

    <%= link_to "Back to lawsuits", lawsuits_path %>
    <%= link_to "Back to Portfolio", root_path %>
    <% if current_user.admin == true %>
      <%= link_to "Edit lawsuit", edit_lawsuit_path %>
      <%= button_to "Destroy this lawsuit", @lawsuit, method: :delete %> 
    <% end %> 
    <hr>

    <%= render 'attorneys' %> 

</div>



<footer class="portfolio-footer">
  <p>Generate Documents</p>
  <p> <%= link_to "Pleading", pleadings_generic_path(@lawsuit) %>
      <%= link_to "Proof of Service - Electronic", jcfs_pes_path(@lawsuit) %> </p>
</footer>
