<h1>Admin#home</h1>
<p>Find me in app/views/admin/home.html.erb</p>
<hr>
	<ul>
		<li><%= link_to "New lawsuit", new_lawsuit_path %></li>
		<li><%= link_to "New Attorney", new_oc_path %></li>
		<li><%= link_to "New Client", new_client_path %></li>
		<li><%= link_to "View All Clients", clients_path %></li>
	</ul>
<hr>

	
<hr>
<%= params.inspect %>


