<%= form_with(model: participant) do |form| %>
  <% if participant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(participant.errors.count, "error") %> prohibited this participant from being saved:</h2>

      <ul>
        <% participant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
    <%= form.label :clt, style: "display: block" %>
    <%= form.check_box :clt %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.select(:type, [['Entity', 'entity'], ['Individual','individual']]) %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :lawsuit_id, style: "display: block" %>
    <%= form.collection_select :lawsuit_id, Lawsuit.order(:ct), :id, :ct %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
