<div id="<%= dom_id participant %>">
  <p>
    <strong>Name:</strong>
    <%= participant.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= participant.role %>
  </p>

  <p>
    <strong>Clt:</strong>
    <%= participant.clt %>
  </p>

  <p>
    <strong>Lawsuit:</strong>
    <%= participant.lawsuit_id %>
  </p>

</div>
