<div id="<%= dom_id client %>">
  <p>
    <strong>Fname:</strong>
    <%= client.fname %>
  </p>

  <p>
    <strong>Mname:</strong>
    <%= client.mname %>
  </p>

  <p>
    <strong>Lname:</strong>
    <%= client.lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= client.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= client.zip %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= client.dob %>
  </p>

  <p>
    <strong>Ssn:</strong>
    <%= client.ssn %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= client.gender %>
  </p>

  <p>
    <strong>Married:</strong>
    <%= client.married %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= client.summary %>
  </p>

  <p>
    <strong>Doh:</strong>
    <%= client.doh %>
  </p>

  <p>
    <strong>Dot:</strong>
    <%= client.dot %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= client.job_title %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= client.work_email %>
  </p>

  <p>
    <strong>Exempt:</strong>
    <%= client.exempt %>
  </p>

  <p>
    <strong>Commissions:</strong>
    <%= client.commissions %>
  </p>

  <p>
    <strong>Pay type:</strong>
    <%= client.pay_type %>
  </p>

  <p>
    <strong>Pay rate:</strong>
    <%= client.pay_rate %>
  </p>

  <p>
    <strong>Emergency contact:</strong>
    <%= client.emergency_contact %>
  </p>

  <p>
    <strong>Emergency phone:</strong>
    <%= client.emergency_phone %>
  </p>

</div>
