<div id="<%= dom_id courtdate %>">
  <p>
    <strong>ID:</strong><%= courtdate.id %>
  </p>
  <p>
    <strong>Complaint:</strong>
    <%= courtdate.complaint %>
  </p>

  <p>
    <strong>Old complaint:</strong>
    <%= courtdate.old_complaint %>
  </p>

  <p>
    <strong>Paga:</strong>
    <%= courtdate.paga %>
  </p>

  <p>
    <strong>Old paga:</strong>
    <%= courtdate.old_paga %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= courtdate.answer %>
  </p>

  <p>
    <strong>Old answer:</strong>
    <%= courtdate.old_answer %>
  </p>

  <p>
    <strong>Cmc:</strong>
    <%= courtdate.cmc %>
  </p>

  <p>
    <strong>Old cmc:</strong>
    <%= courtdate.old_cmc %>
  </p>

  <p>
    <strong>First expert exchange:</strong>
    <%= courtdate.first_expert_exchange %>
  </p>

  <p>
    <strong>Second expert exchange:</strong>
    <%= courtdate.second_expert_exchange %>
  </p>

  <p>
    <strong>Discovery cutoff:</strong>
    <%= courtdate.discovery_cutoff %>
  </p>

  <p>
    <strong>Old discovery cutoff:</strong>
    <%= courtdate.old_discovery_cutoff %>
  </p>

  <p>
    <strong>Trc:</strong>
    <%= courtdate.trc %>
  </p>

  <p>
    <strong>Old trc:</strong>
    <%= courtdate.old_trc %>
  </p>

  <p>
    <strong>Trial:</strong>
    <%= courtdate.trial %>
  </p>

  <p>
    <strong>Old trial:</strong>
    <%= courtdate.old_trial %>
  </p>

  <p>
    <strong>Lawsuit:</strong>
    <%= courtdate.lawsuit_id %>
  </p>

</div>
