zedit
<%= params.inspect %>
<hr>
<%= form_with(model: @courtdate) do |form| %>
 

  <div>
    <%= form.label :complaint, style: "display: block" %>
    <%= form.date_field :complaint %>
  </div>

  <div>
    <%= form.label :old_complaint, style: "display: block" %>
    <%= form.text_field :old_complaint %>
  </div>

  <div>
    <%= form.label :paga, style: "display: block" %>
    <%= form.date_field :paga %>
  </div>

  <div>
    <%= form.label :old_paga, style: "display: block" %>
    <%= form.text_field :old_paga %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block" %>
    <%= form.date_field :answer %>
  </div>

  <div>
    <%= form.label :old_answer, style: "display: block" %>
    <%= form.text_field :old_answer %>
  </div>

  <div>
    <%= form.label :cmc, style: "display: block" %>
    <%= form.date_field :cmc %>
  </div>

  <div>
    <%= form.label :old_cmc, style: "display: block" %>
    <%= form.text_field :old_cmc %>
  </div>

  <div>
    <%= form.label :first_expert_exchange, style: "display: block" %>
    <%= form.date_field :first_expert_exchange %>
  </div>

  <div>
    <%= form.label :second_expert_exchange, style: "display: block" %>
    <%= form.date_field :second_expert_exchange %>
  </div>

  <div>
    <%= form.label :discovery_cutoff, style: "display: block" %>
    <%= form.date_field :discovery_cutoff %>
  </div>

  <div>
    <%= form.label :old_discovery_cutoff, style: "display: block" %>
    <%= form.text_field :old_discovery_cutoff %>
  </div>

  <div>
    <%= form.label :trc, style: "display: block" %>
    <%= form.date_field :trc %>
  </div>

  <div>
    <%= form.label :old_trc, style: "display: block" %>
    <%= form.text_field :old_trc %>
  </div>

  <div>
    <%= form.label :trial, style: "display: block" %>
    <%= form.date_field :trial %>
  </div>

  <div>
    <%= form.label :old_trial, style: "display: block" %>
    <%= form.text_field :old_trial %>
  </div>

 



  <div>
    <%= form.submit %>
  </div>
<% end %>