<div id="<%= dom_id response %>">
  <p>
    <strong>Group:</strong>
    <%= response.group %>
  </p>

  <p>
    <strong>Responding party:</strong>
    <%= response.responding_party %>
  </p>

  <p>
    <strong>Propounding party:</strong>
    <%= response.propounding_party %>
  </p>

  <p>
    <strong>Discovery type:</strong>
    <%= response.discovery_type %>
  </p>

  <p>
    <strong>Discovery set:</strong>
    <%= response.discovery_set %>
  </p>

  <p>
    <strong>Lawsuit:</strong>
    <%= response.lawsuit_id %>
  </p>

</div>
