<div id="<%= dom_id journal %>">

  <p>
    <strong>Lawsuit:</strong>
    <%= @lawsuit.ct %>
  </p>

  <p>
    <strong>Entry:</strong>
    <%= journal.entry %>
  </p>

  <p>
    <strong>Binder:</strong>
    <%= journal.binder %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= journal.issue %>
  </p>

  <p>
    <strong>Costs:</strong>
    <%= journal.costs %>
  </p>

</div>
