<div id="<%= dom_id oc %>">
  <p>
    <strong>Full name:</strong>
    <%= oc.full_name %>
  </p>

  <p>
    <strong>Sbn:</strong>
    <%= oc.sbn %>
  </p>

  <p>
    <strong>Fname:</strong>
    <%= oc.fname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= oc.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= oc.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= oc.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= oc.website %>
  </p>

  <p>
    <strong>Lawsuit:</strong>
    <%= oc.lawsuit_id %>
  </p>

</div>
