<p style="color: green"><%= notice %></p>

<%= render @oc %>

<div>
  <%= link_to "Edit this oc", edit_oc_path(@oc) %> |
  <%= link_to "Back to ocs", ocs_path %>

  <%= button_to "Destroy this oc", @oc, method: :delete %>
</div>
